@import '../../../_variables';
@import '../../../_mixins';

.main {
  .arrow {
    padding-top: 24px;
    max-width: $width-container;
  }
  .searchBlock {
    padding-top: 34px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    > h4 {
      flex-basis: 100%;
    }
    > input {
      &:focus {
        outline: none;
        box-shadow: $box-shadow-primary;
      }
    }
    .search {
      flex-grow: 1;
      flex-basis: 85%;
    }
    .searchBtn {
      cursor: pointer;
      width: 34px;
      height: 34px;
      flex-grow: 0;
      border: 1px solid $border-third;
      fill: $color-dark;
      &:hover {
        fill: $color-primary;
        border-radius: 0 2px 2px 0;
        box-shadow: $box-shadow-primary;
      }
    }
  }
  .notFound {
    padding-top: 20px;
    justify-content: center;
  }
  @include media-mw($break-sm) {
    .searchBlock {
      padding-top: 14px;
    }
  }
}
