.login_container {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 60px;
}

.button_sign_in_navbar,
.button_sign_in_form {
  cursor: pointer;

  width: 84.02%;
  height: 36px;

  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  line-height: 20px;
  color: #ffffff;
  text-align: center;

  background: #366eff;
  border: none;
  border-radius: 30px;
  box-shadow: 0 4px 18px rgba(54, 110, 255, 0.35), inset 0 1px 0 rgba(255, 255, 255, 0.3);
}
.button_sign_in_form:disabled,
.button_sign_in_form:disabled:hover {
  cursor: auto;

  color: #366eff;

  background-color: #f1f1f1;
  border: none;
  border-radius: 30px;
  box-shadow: none;
}
.button_sign_in_form:active,
.button_sign_in_form:hover{
  color: #366eff;

  background-color: #ffffff;
  border: none;
  border-radius: 30px;
  box-shadow: 0 4px 18px rgb(54, 110, 255), inset 0 1px 0 rgba(255, 255, 255, 0.3);
}

.form_container {
  display: flex;
  flex-direction: column;

  width: 413px;

  background: #ffffff;
  border-radius: 2px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), -1px -1px 2px rgba(0, 0, 0, 0.1);
}

.title_form {
  padding: 35px 0 41px;

  font-family: 'Bookman Old Style', cursive;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.input_block,
.checkbox_block {
  display: flex;
  flex-direction: column;

  width: 80%;
  margin-left: 10%;
}
.input_block {
  padding-bottom: 24px;
}

.title_input,
.have_account {
  color: grey;
}

.input_email,
.password_block,
.checkbox_block {
  display: flex;
  flex-direction: row;
  align-items: center;

  height: 20px;

  font-size: 14px;

  border: none;
  border-bottom: 2px solid #c0bfbf;
  outline: none;
}
.button_sign_in_form_block {
  display: flex;
  flex-direction: column;

  margin: 0;
}

.input_password {
  width: 280px;

  font-size: 14px;

  border: none;
  outline: none;
}

.error_message {
  color: red;
}

.visible_password {
  cursor: pointer;

  display: block;
  align-items: center;

  width: 20px;
  padding-bottom: 20px;
}

.checkbox_block {
  border-bottom: none;
}

.rememberMe {
  margin-left: 15px;

  font-size: 16px;
  font-weight: 500;
}

.forgot_password {
  display: flex;
  justify-content: flex-end;

  padding: 29px 38px 69px 0;

  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}

.button_sign_in_form {
  align-self: center;

  width: 347px;
  height: 36px;

  font-size: 18px;
}

.have_account {
  padding-top: 39px;

  font-weight: 600;
  text-align: center;
}

.button_sign_up_form_block {
  padding: 20px 0 42px;

  text-align: center;
}

.sign_up_button {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  line-height: 24px;
  color: #366eff;
  text-align: center;
  text-decoration-line: underline;
}

.input_email:-webkit-autofill,
.input_email:-webkit-autofill:hover,
.input_email:-webkit-autofill:focus,
.input_email:-webkit-autofill:active .input_password:-webkit-autofill,
.input_password:-webkit-autofill:hover,
.input_password:-webkit-autofill:focus,
.input_password:-webkit-autofill:active {
  font-family: 'Montserrat', 'sans-serif';
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  color: #000000;

  opacity: 0.5;
  background: #ffffff !important;
  border: none;
  border-bottom: 1.51px solid #000000;
  border-radius: 0;
  outline: none;
  box-shadow: 0 0 0 30px #ffffff inset !important;

  appearance: none;
}
