.login_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button_sign_in_navbar,
.button_sign_in_form {
  cursor: pointer;

  width: 100px;
  height: 30px;

  color: white;

  background-color: #0479fd;
  border: none;
  border-radius: 20px;
}

.form_container {
  display: flex;
  flex-direction: column;

  width: 400px;
  height: 530px;
  margin-top: 60px;

  border: 2px solid #efecec;
  border-radius: 2px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), -1px -1px 2px rgba(0, 0, 0, 0.1);
}

.title_form {
  margin: 20px 0;

  font-family: 'Bookman Old Style', cursive;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.input_block,
.checkbox_block,
.button_sign_in_form_block {
  display: flex;
  flex-direction: column;

  width: 80%;
  height: 80px;
  margin-left: 10%;
}

.title_input,
.have_account {
  color: grey;
}
.have_account {
  padding-top: 31px;
}

.input_email,
.password_block,
.checkbox_block,
.button_sign_in_form_block {
  display: flex;
  flex-direction: row;
  align-items: center;

  height: 20px;

  font-size: 14px;

  border: none;
  border-bottom: 2px solid #c0bfbf;
  outline: none;
}

.input_email:-webkit-autofill,
.input_email:-webkit-autofill:hover,
.input_email:-webkit-autofill:focus,
.input_email:-webkit-autofill:active {
  font-family: 'Montserrat', 'sans-serif';
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  color: #000000;

  opacity: 0.5;
  background: #ffffff !important;
  border: none;
  border-bottom: 1.51px solid #000000;
  border-radius: 0;
  outline: none;
  box-shadow: 0 0 0 30px #ffffff inset !important;

  appearance: none;
}

.button_sign_in_form:disabled {
  cursor: auto;

  color: #000000;

  background: #ffffff;
  box-shadow: 0 2px 10px rgb(241, 241, 241), inset 0 1px 0 rgb(241, 241, 241);
}

.input_password {
  width: 280px;

  font-size: 14px;

  border: none;
  outline: none;
}

.error_message {
  color: red;
}

.visible_password {
  cursor: pointer;

  display: block;
  align-items: center;

  width: 20px;
  padding: 0 0 17px;
}

.checkbox_block {
  border-bottom: none;
}

.rememberMe {
  margin-left: 15px;

  font-size: 16px;
  font-weight: 500;
}

.forgot_password {
  align-self: end;

  padding: 29px 38px 69px 0;

  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}

.button_sign_in_form_block {
  margin-top: 60px;
  margin-bottom: 40px;
}

.button_sign_in_form {
  width: 347px;
  height: 36px;

  font-size: 18px;
}
.button_sign_in_form :hover {
  background: #366eff;
  border-radius: 30px;
  box-shadow: 0 4px 18px rgba(54, 110, 255, 0.35), inset 0 1px 0 rgba(255, 255, 255, 0.3);
}

.have_account {
  font-weight: 600;
  text-align: center;
}

.button_sign_up_form_block {
  margin-top: 20px;

  text-align: center;
}
.sign_up_button {
  font-size: 22px;
  font-weight: bold;
  color: #0479fd;
  text-align: center;
}
.blockBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
}
