@import '../../_variables';
@import '../../_mixins';
@import '../../_templates';

.login__container {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 60px;
}

.button__sign_in_form {
  cursor: pointer;

  width: 84.02%;
  height: 36px;

  font-family: $font-primary;
  @include font-S-W-lH-(16px, 500, 20px);
  font-style: normal;
  color: $color-light;
  text-align: center;

  background: $color-primary;
  border: none;
  border-radius: 30px;


  align-self: center;

  font-size: $font-primary;
  font-weight: 500;


  background-color: $color-primary;

  box-shadow: $box-shadow-primary;


  &:disabled,
  &:disabled:hover {
    cursor: auto;

    color: $color-primary;

    background-color: $bg-third;
    border: none;
    border-radius: 30px;
    box-shadow: none;
  }
  &:active,
  &:hover {
    color: $color-primary;

    background-color: $color-light;
    box-shadow: $box-shadow-primary, inset $box-shadow-four;
  }
  &_block {
    display: flex;
    flex-direction: column;

    margin: 0;
  }
}

.form__container {
  display: flex;
  flex-direction: column;

  width: 413px;

  background: $color-light;
  border-radius: 2px;
  box-shadow: $box-shadow-five, $box-shadow-six;
  @include media-mw($break-xs) {
    width: 380px;
  }
  @include media-mw($break-s) {
    width: 310px;
  }
}

.form__title {
  padding: 35px 0 41px;

  font-family: $font-primary;
  @include font-S-W-lH-(26px, 600, 32px);
  font-weight: bold;
  text-align: center;
}

.input__block,
.checkbox__block {
  display: flex;
  flex-direction: column;

  width: 80%;
  margin-left: 10%;
}
.input__block {
  padding-bottom: 4px;
  position: relative;
}

.input__title,
.have__account {
  font-family: $font-primary;
  @include font-S-W-lH-(13px, 400, 20px);
  color: $color-dark;
  opacity: 0.5;
}

.input__email,
.password__input,
.password__block,
.checkbox__block {
  display: flex;
  flex-direction: row;
  align-items: center;

  height: 20px;
  @include font-S-W-lH-(14px, 500, 17px);

  border: none;
  border-bottom: 2px solid #c0bfbf;
  outline: none;
}


.spanError {
  height: 20px;
  display: flex;
  font-size: 16px;
  color: $error;
}

.password__visible {
  cursor: pointer;

  display: block;
  align-items: center;

  width: 20px;
  position: absolute;
  right: 15px;
  top: 15px;
  &_image {
    cursor: pointer;

    display: block;
    align-items: center;

    width: 20px;
  }
}

.checkbox__block {
  border-bottom: none;
}

.rememberMe {
  margin-left: 15px;

  @include font-S-W-lH-(14px, 500, 17px);
}

.forgot_password {
  display: flex;
  justify-content: flex-end;

  padding: 29px 38px 69px 0;

  @include font-S-W-lH-(14px, 500, 17px);
  text-decoration: none;
  @include media-mw($break-xs) {
    padding: 20px 38px 20px 0;
  }
}

.have__account {
  @include font-S-W-lH-(14px, 600, 24px);
  padding-top: 39px;

  font-weight: 600;
  text-align: center;
  color: $color-dark;
  opacity: 0.5;
}
.checkbox{
  width: 18px;
  height: 18px;
}
.button__sign_up {
  @include font-S-W-lH-(16px, 600, 24px);
  font-style: normal;
  color: $color-primary;
  text-align: center;
  text-decoration-line: underline;
  &_form_block {
    padding: 20px 0 42px;

    text-align: center;
  }
}