.checkbox {
  cursor: pointer;

  display: inline-block;

  width: 24px;
  height: 24px;

  background: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 8px;

  -webkit-appearance: none;
  -moz-appearance: none;
}

.checkbox:checked {
  color: #7a5cfa;

  background: url('../../assets/Vector.png') center no-repeat;
}

.spanClassName {
  color: #7a5cfa;

  background: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 8px;

  appearance: none;
}
