@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

.modal {
  width: 50vw;

  background-color: rgba(0, 0, 0, 0.5);
}
.form {
  background: #ffffff;
  border-radius: 2px;
}

.container {
  width: 85%;
  height: 85%;
}
.title {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  line-height: 22px;
  color: #000000;

  border-bottom: 1.51px solid #000000
}

.forma {

}
.input {
  width: 100%;
  margin-bottom: 20px;

  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  color: #000000;

  opacity: 0.9;
  background: #ffffff !important;
  border: none;
  border-bottom: 1.51px solid #000000;
  border-radius: 0;

  appearance: none;
}

.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus,
.input:-webkit-autofill:active {
  font-family: 'Montserrat', 'sans-serif';
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  color: #000000;

  opacity: 0.5;
  background: #ffffff !important;
  border: none;
  border-bottom: 1.51px solid #000000;
  border-radius: 0;
  outline: none;
  box-shadow: 0 0 0 30px #ffffff inset !important;

  appearance: none;
}
.input:focus,
.input:active,
.input::placeholder {
  display: flex;

  font-family: 'Montserrat', 'sans-serif';
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  color: #000000;

  opacity: 0.5;
  background: #ffffff !important;
  border: none;

  appearance: none;
}
.input:focus,
.input:active {
  border-bottom: 1.51px solid #000000;
  border-radius: 0;
  outline: none;
}

.description {
  width: 84.02%;
  margin: 0;
  padding-top: 27px;
  padding-bottom: 65px;

  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  color: #000000;
  letter-spacing: -0.016em;
  word-break: break-word;

  opacity: 0.5;
}
.btn_block {
  display: flex;
  justify-content: space-between;

  width: 85%;
}

.btn {
  cursor: pointer;

  width: 35%;
  height: 36px;

  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  line-height: 20px;
  color: #ffffff;
  text-align: center;

  background: #366eff;
  border: none;
  border-radius: 30px;
  box-shadow: 0 4px 18px rgba(54, 110, 255, 0.35), inset 0 1px 0 rgba(255, 255, 255, 0.3);
}


.btn:disabled,
.btn:disabled:hover {
  cursor: auto;

  color: #366eff;

  background-color: #f1f1f1;
  border: none;
  border-radius: 30px;
  box-shadow: none;
}
.btn:active,
.btn:hover {
  color: #366eff;

  background-color: #ffffff;
  border: none;
  border-radius: 30px;
  box-shadow: 0 4px 18px rgb(54, 110, 255), inset 0 1px 0 rgba(255, 255, 255, 0.3);
}
.btn_cancel {
  cursor: pointer;

  width: 35%;
  height: 36px;

  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  line-height: 20px;
  color: #000;
  text-align: center;

  background: #fff;
  border: none;
  border-radius: 30px;
  box-shadow: 0 4px 18px rgba(54, 110, 255, 0.35), inset 0 1px 0 rgba(255, 255, 255, 0.3);

}
.btn_cancel:hover {
  color: #366eff;

  background-color: #ffffff;
  border: none;
  border-radius: 30px;
  box-shadow: 0 4px 18px rgb(54, 110, 255), inset 0 1px 0 rgba(255, 255, 255, 0.3);
}

.question {
  margin: 0;
  padding: 32px 0 12px;

  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  line-height: 24px;
  color: #000000;
  text-align: center;

  opacity: 0.5;
}
.link {
  cursor: pointer;

  padding-top: 20px;

  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  line-height: 24px;
  color: #366eff;
  text-align: center;
  text-decoration-line: underline;
}
.spanError {
  display: block;

 margin-top: -20px;

  font-size: 20px;
  color: #eb5757;
}
.checkBox {
  width: 18px;
  height: 18px;
  padding-top: 20px;

  color: #366eff;
}
.privateBox {
  width: 102px;
  height: 20px;
  padding: 20px 0;

  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.5px;
}
.privateBox_label{
  margin-left: 12px;
}
