.table {
  display: flex;
  flex-direction: column;

  border: 1px solid #efefef;
  border-radius: 2px;
}

.title_table_header,
.title_table_body {
  display: grid;
  grid-template-columns: 30% 30% 13% 15% 12%;
  align-items: center;
  justify-items: center;

  height: 48px;
}

.title_table_header {
  font-size: 14px;
  font-weight: 500;

  background-color: #efefef;
}
.title_table_header th {
  cursor: pointer;
}

.title_table_body {
  font-size: 14px;
  font-weight: 400;

  border-bottom: 1px solid #efefef;
}

.actions_button_container,
.actions_button_my_pack {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 80%;
}

.actions_button_container div,
.actions_button_my_pack div {
  cursor: pointer;
}
.actions_button_my_pack {
  justify-content: space-around;
}
.td {
  overflow: hidden;

  width: 100%;
}
