.table_friends_pack {
    display: flex;
    flex-direction: column;
    border: 1px solid #EFEFEF;
    border-radius: 2px;
}

.title_table, .title_table_body_friends {
    display: grid;
    grid-template-columns: 27% 32% 14% 27%;
    justify-items: center;
    align-items: center;
    height: 48px;
}

.title_table {
    background-color: #EFEFEF;
    font-size: 14px;
    font-weight: 400;
}
.title_table th {
    cursor: pointer;
}

.title_table_body_friends{
    font-size: 14px;
    font-weight: 400;
    border-bottom: 1px solid #EFEFEF; ;
}