@import '../../../_variables';
@import '../../../_mixins';
@import '../../../_templates';

.container {
  display: flex;
  justify-content: flex-start;
  @include media-mw($break-sm) {
    padding-top: 30px;
    gap: 10px;
    justify-content: center;
    > div {
      padding: 0;
    }
  }
  @include media-mw($break-xs) {
    flex-wrap: wrap;
  }
}
.btn {
  width: 24px;
  height: 24px;

  background: none;
  border: none;

  &:active,
  &:hover {
    cursor: pointer;

    color: $color-light;

    border-radius: 2px;
    border: none;
  }
}
.pages {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 24px;
  height: 24px;

  font-family: $font-primary;
  @include font-S-W-lH-(12px, 400, 15px);
  font-style: normal;
  color: $color-dark;
  background-color: transparent;

  border-radius: 2px;
  border: none;
  &:hover,
  &:active {
    cursor: pointer;

    color: $color-light;

    background: $color-primary;
    border-radius: 2px;
  }
}
.select {
  color: $color-dark;

  opacity: 0.4;
  background: $color-light;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  &__block {
    display: flex;
    align-items: center;
    font-family: $font-primary;
    @include font-S-W-lH-(12px, 400, 15px);
    gap: 5px;

    padding: 0 0 0 30px;
  }
}
.pagesActive {
  color: $color-light;

  background: #366eff;
  border-radius: 2px;
}
.block__pages {
  display: flex;
  gap: 12px;

  padding: 0 10px;
}
.prevBtn {
  background: url('../../../assets/img/Pagination/prevBtn.png') no-repeat center;
}
.nextBtn {
  background: url('../../../assets/img/Pagination/nextBtn.png') no-repeat center;
}
.drop {
  cursor: pointer;

  position: relative;
}
.blockPagesDrop {
  position: absolute;
  right: 50%;
  bottom: 30px;
  left: -150px;

  overflow-x: scroll;
  display: flex;
  gap: 12px;

  width: 300px;
  padding: 0 10px;
}
