.block{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    height:323px;
    width: 855px;
    background: url("../../assets/_bg404.png") center no-repeat;
}
.title{
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
}
.description{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: rgba(60, 60, 67, 0.85);
}
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 172px;
    height: 56px;
    background: #7A5CFA;
    border-radius: 8px;
    border:1px solid #7A5CFA;
    color: #FFFFFF;
    font-family: "Bookman Old Style";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
}
.btn:hover {
    background: #FFFFFF;
    border: 4px solid #7A5CFA;
    border-radius: 8px;
    color: #7A5CFA;
}
