.table {
  display: flex;
  flex-direction: column;

  border: 1px solid #efefef;
  border-radius: 2px;
}

.title_table_header,
.title_table_body {
  display: grid;
  grid-template-columns: 50% 10% 13% 15% 12%;
  align-items: center;
  justify-items: center;

  height: 48px;
}

.title_table_header {
  font-size: 14px;
  font-weight: 500;

  background-color: #efefef;
}
.title_table_header th {
  cursor: pointer;
}

.title_table_body {
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  letter-spacing: 0em;

  border-bottom: 1px solid #efefef;


}

.actions_button_container,
.actions_button_my_pack {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 80%;
}

.actions_button_container div,
.actions_button_my_pack div {
  cursor: pointer;
}
.actions_button_my_pack {
  justify-content: space-around;
}
.td {
  overflow: hidden;
  display: flex;
  align-items: center;

  width: 100%;
  padding-left: 24px;
}
.linkImage{
  width:57px;
  height:36px;
}
.linkImage:hover{
  cursor: pointer;
}

.linkName {
  margin-left: 12px;

  font-family: Montserrat;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  text-decoration: none;
  letter-spacing: 0em;

}

.linkName:hover {
  cursor: pointer;

  border-bottom: 1px solid black;
}
