@import '../../../_variables';
@import '../../../_mixins';

.container {
  padding-top: 24px;
  .table {
    width: 100%;
    border: $border-primary;
    border-collapse: collapse;
    table-layout: fixed;
    .head {
      border: 1px solid $border-primary;
    }
    .head_row {
      font-size: 14px;
      font-weight: 500;
      background-color: $bg-third;
      > th {
        padding: 23px;
        text-align: center;
        letter-spacing: 0.1em;
        font-size: 14px;
        line-height: 17px;
        .tableImg img {
          width: 150px;
          height: 35px;
        }
      }
      .head_update {
        cursor: pointer;
        position: relative;
        .triangle_top,
        .triangle_down {
          position: absolute;
          width: 0;
          height: 0;
          left: 85%;
          border-style: solid;
          border-width: 5px 5px 5px 5px;
        }
        .triangle_top {
          top: 38%;
          border-color: transparent transparent $color-dark transparent;
        }
        .triangle_down {
          top: 46%;
          border-color: $color-dark transparent transparent transparent;
        }
      }
    }

    .row {
      border: 1px solid $border-third;

      .td_btn,
      .td_name,
      .question_answer,
      .rating,
      .card_update_create {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 20px;
        text-overflow: ellipsis;
        overflow: hidden;
        height: 48px;
        .linkName {
          overflow: hidden;
          text-overflow: ellipsis;
          &:hover {
            cursor: pointer;
            border-bottom: 1px solid $color-dark;
            outline: none;
          }
        }
        > svg {
          cursor: pointer;
          width: 16px;
        }
        > p {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      .rating {
        padding: 0;
      }
      .td_btn {
        padding: 0 30px;
        justify-content: space-between;
      }
      .td_name,
      .question_answer {
        justify-content: flex-start;
        gap: 10px;
        &.question_answer {
          pointer-events: none;
        }
        .linkImage {
          width: 57px;
          height: 36px;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
  @include media-mw($break-sm) {
    .head {
      display: none;
    }

    .head_row {
      border-bottom: 3px solid $border-third;
      display: block;
    }

    .td {
      border-bottom: 1px solid $border-third;
      display: block;
      font-size: 0.8em;
      text-align: right;
      padding-bottom: $font-primary;
    }

    .td::before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
      box-shadow: $box-shadow-third;
    }

    .td:last-child {
      border-bottom: 0;
    }
    .row {
      .td {
        .td_btn,
        .td_name,
        .card_update_create,
        .question_answer,
        .rating {
          justify-content: flex-end;
          padding-right: 20px;
          gap: 10px;
        }
      }
    }
  }
}
