@import '../../../_variables';
@import '../../../_mixins';
@import '../../../_templates';

.block {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 80vh;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: $width-container;
}
.title {
  font-family: $font-primary;
  @include font-S-W-lH-(50px, 600, 61px);
  font-style: normal;
  color: $color-dark;
}
.description {
  font-family: $font-primary;
  @include font-S-W-lH-(16px, 500, 36px);
  font-style: normal;
  color: $color-dark;
  padding-top: 11px;
}
.btn {
  font-family: $font-primary;
  @include font-S-W-lH-(16px, 500, 20px);
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  width: 218px;
  height: 36px;

  color: $color-light;
  background-color: $color-primary;
  border: none;
  border-radius: 30px;
  box-shadow: $box-shadow-primary;
  &__link {
    text-decoration: none;
    padding-top: 35px;
  }
  &:hover{
    color: $color-primary;

    background: $color-light;
    border: none;
    border-radius: 30px;
  }
}




