.search {
    position: relative;

    width: 413px;
    height: 34px;
    margin: 0;
    padding: 0;

    text-indent: 17px;

    background: #ffffff;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
}
.search::placeholder {
    position: relative;
    left: 17px;

    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 24px;
    color: #000000;
    text-indent: 40px;

    opacity: 0.5;
    background: url('../../../assets/img/Filter/SearchIcon.png') no-repeat left;
}
.span {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 17px;
    color: #000000;
}