.default {
  width: 172px;
  height: 56px;

  font-family: 'Bookman Old Style';
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  color: #ffffff;

  background: #7a5cfa;
  border: 1px solid #7a5cfa;
  border-radius: 8px;
}

button:hover {
  color: #7a5cfa;

  background: #ffffff;
  border: 4px solid #7a5cfa;
  border-radius: 8px;
}

button:disabled {
  color: #7a5cfa;

  background-color: darkgrey;
  border: #7a5cfa;
}

button:disabled:hover {
  color: #7a5cfa;

  background-color: darkgrey;
  border: none;
}

.red {
  background: red;
}
