.deleteBtn {
  cursor: pointer;

  width: 30px;
  height: 30px;

  background: url('../../../../assets/img/Table/Delete.svg') no-repeat;
  border: none;
}
.deleteBtn:disabled {
  background: white;
}
.editBtn {
  cursor: pointer;

  width: 30px;
  height: 30px;

  background: url('../../../../assets/img/Table/Edit.svg') no-repeat;
  border: none;
}
.editBtn:disabled {
  background: white;
}
.learn{
  cursor: pointer;

  width: 30px;
  height: 30px;

  background: url('../../../../assets/img/Table/teacher.svg') no-repeat;
  border: none;
}
.learn:disabled {
  background: white;
}
