.checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    display: inline-block;
    width: 24px;
    height: 24px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 8px;
    cursor: pointer;
}

.checkbox:checked {
    color: #7A5CFA;

    background:url("../../assets/Vector.png") center no-repeat;
}

.spanClassName {
    appearance: none;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 8px;
    color: #7A5CFA;
}