.packs_list_container {
  display: flex;
  justify-content: center;
}

.table_container {
  display: flex;
  flex-direction: column;

  width: 80%;
}

.packs_list_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  margin-top: 40px;
  margin-bottom: 50px;
}

.packs_list_name {
  font-size: 22px;
  font-weight: 600;
}

.btn_add_new_pack {
  cursor: pointer;

  width: 175px;
  height: 36px;

  font-size: 16px;
  font-weight: 500;
  color: white;

  background-color: #0479fd;
  border: none;
  border-radius: 30px;
  box-shadow: 0 2px 5px rgb(54, 110, 255);
}

.deckCoverImg{
  width: 170px;
  height: 110px;
}
.packTitle_and_button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.titlePack {

}