.container{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
}

.inputHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
}
.inputButton{
    color: #366eff;

background: transparent;
    border: none;
}
.inputButton:hover {
    cursor: pointer;

    text-decoration-line: underline ;
}
.inputImg {
    width: 100%;
    height: 120px;
}