.inputHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.inputButton{
    color: #366eff;

background: transparent;
    border: none;
}
.inputButton:hover {
    cursor: pointer;

    text-decoration-line: underline ;
}
.inputImg {
    width: 350px;
    height: 120px;
}